@import "tailwindcss";

@theme {
  --color-zinc-950: #09090b;
  --color-zinc-900: #18181b;
  --color-zinc-800: #27272a;
  --color-zinc-700: #3f3f46;
  --color-zinc-600: #52525b;
  --color-zinc-500: #71717a;
  --color-zinc-400: #a1a1aa;
  --color-zinc-300: #d4d4d8;
  --color-zinc-200: #e4e4e7;
  --color-zinc-100: #f4f4f5;
  --color-zinc-50: #fafafa;
}

@layer base {
  :root {
    --background: white;
    --foreground: #09090b;
  }

  .dark {
    --background: #09090b;
    --foreground: #fafafa;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    @apply bg-zinc-50 dark:bg-zinc-950 text-zinc-900 dark:text-zinc-50 antialiased;
  }

  * {
    @apply border-zinc-200 dark:border-zinc-800;
  }
}

@layer utilities {
  .bg-grid-pattern {
    background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
      linear-gradient(to bottom, #80808012 1px, transparent 1px);
    background-size: 24px 24px;
  }

  .bg-mask-radial {
    mask-image: radial-gradient(
      ellipse 60% 50% at 50% 0%,
      #000 70%,
      transparent 100%
    );
  }
}
